  <!-- MODAL AREA START (Quick View Modal) -->
  <div class="ltn__modal-area ltn__quick-view-modal-area">
    <div class="modal fade" id="quick_view_modal" tabindex="-1">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              <!-- <i class="fas fa-times"></i> -->
            </button>
          </div>
          <div class="modal-body">
            <div class="ltn__quick-view-modal-inner">
              <div class="modal-product-item">
                <div class="row">

                  <div class="col-lg-12 col-12">
                    <div class="modal-product-info">
                      <h4>Select Your Area : <span> Pool Construction</span></h4>
                      <hr />
                      <h4>Property Type : <span> Apartment</span></h4>
                      <hr />
                      <h4>Priority : <span> Priority 1</span></h4>
                      <hr />
                      <div class="modal-product-brief">
                        <form id="service-form" action="" method="post">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="input-item input-item-email ltn__custom-icon">
                                <input type="email" name="email" placeholder="Enter email address">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="input-item input-item-phone ltn__custom-icon">
                                <input type="text" name="phone" placeholder="Enter phone number">
                              </div>
                            </div>
                          </div>

                          <div class="btn-wrapper mt-0">
                            <button class="btn theme-btn-1 btn-effect-1 text-uppercase" type="submit">Submit</button>
                          </div>
                          <p class="form-messege mb-0 mt-20"></p>
                        </form>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- MODAL AREA END -->




  <!-- MODAL SERVICES -->

  <!-- Pool Construction Modal -->
  <div class="ltn__modal-area ltn__quick-view-modal-area">
    <div class="modal fade" id="poolconstruction" tabindex="-1">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              <!-- <i class="fas fa-times"></i> -->
            </button>
          </div>
          <div class="modal-body">
            <div class="ltn__quick-view-modal-inner">
              <div class="modal-product-item">
                <div class="row">
                  <div class="col-lg-6 col-12">
                    <img src="../assets/img/service/poolconstruction.jpg">
                  </div>

                  <div class="col-lg-6 col-12">
                    <div class="modal-product-info">
                      <h4>Pool Construction</h4>
                      <div class="modal-product-brief">
                        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                          galley of type and scrambled it to make a type specimen book. It has survived not only five
                          centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                          It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                          passages, and more recently with desktop publishing software like Aldus PageMaker including
                          versions of Lorem Ipsum.</p>

                        <a href="" data-bs-toggle="modal" data-bs-target="#requestqoute"
                          class="btn theme-btn-1 mt-3  btn-effect-1 text-uppercase">Request a quote</a>

                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pool Construction Modal END -->





  <!-- Pool Renovation Modal -->
  <div class="ltn__modal-area ltn__quick-view-modal-area">
    <div class="modal fade" id="poolrenovation" tabindex="-1">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              <!-- <i class="fas fa-times"></i> -->
            </button>
          </div>
          <div class="modal-body">
            <div class="ltn__quick-view-modal-inner">
              <div class="modal-product-item">
                <div class="row">
                  <div class="col-lg-6 col-12">
                    <img src="../assets/img/service/poolrenovation.jpg">
                  </div>

                  <div class="col-lg-6 col-12">
                    <div class="modal-product-info">
                      <h4>Pool Renovation</h4>
                      <div class="modal-product-brief">
                        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                          galley of type and scrambled it to make a type specimen book. It has survived not only five
                          centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                          It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                          passages, and more recently with desktop publishing software like Aldus PageMaker including
                          versions of Lorem Ipsum.</p>

                        <a href="" data-bs-toggle="modal" data-bs-target="#requestqoute"
                          class="btn theme-btn-1 mt-3  btn-effect-1 text-uppercase">Request a quote</a>

                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pool Renovation Modal END -->

  <!-- Pool Cleaning Modal -->
  <div class="ltn__modal-area ltn__quick-view-modal-area">
    <div class="modal fade" id="poolcleaning" tabindex="-1">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              <!-- <i class="fas fa-times"></i> -->
            </button>
          </div>
          <div class="modal-body">
            <div class="ltn__quick-view-modal-inner">
              <div class="modal-product-item">
                <div class="row">
                  <div class="col-lg-6 col-12">
                    <img src="../assets/img/service/poolcleaning.jpg">
                  </div>

                  <div class="col-lg-6 col-12">
                    <div class="modal-product-info">
                      <h4>Pool Cleaning</h4>
                      <div class="modal-product-brief">
                        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                          galley of type and scrambled it to make a type specimen book. It has survived not only five
                          centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                          It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                          passages, and more recently with desktop publishing software like Aldus PageMaker including
                          versions of Lorem Ipsum.</p>

                        <a href="" data-bs-toggle="modal" data-bs-target="#requestqoute"
                          class="btn theme-btn-1 mt-3  btn-effect-1 text-uppercase">Request a quote</a>

                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pool Cleaning Modal END -->

  <!-- Pool Maintenance Modal -->
  <div class="ltn__modal-area ltn__quick-view-modal-area">
    <div class="modal fade" id="poolmaintenance" tabindex="-1">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              <!-- <i class="fas fa-times"></i> -->
            </button>
          </div>
          <div class="modal-body">
            <div class="ltn__quick-view-modal-inner">
              <div class="modal-product-item">
                <div class="row">
                  <div class="col-lg-6 col-12">
                    <img src="../assets/img/service/poolmaintenance.jpg">
                  </div>
                  <div class="col-lg-6 col-12">
                    <div class="modal-product-info">
                      <h4>Pool Maintenance</h4>
                      <div class="modal-product-brief">
                        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                          galley of type and scrambled it to make a type specimen book. It has survived not only five
                          centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                          It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                          passages, and more recently with desktop publishing software like Aldus PageMaker including
                          versions of Lorem Ipsum.</p>

                        <a href="" data-bs-toggle="modal" data-bs-target="#requestqoute"
                          class="btn theme-btn-1 mt-3  btn-effect-1 text-uppercase">Request a quote</a>

                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pool Maintenance Modal END -->

  <!-- Pool Tile Work< Modal -->
  <div class="ltn__modal-area ltn__quick-view-modal-area">
    <div class="modal fade" id="pooltilework" tabindex="-1">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              <!-- <i class="fas fa-times"></i> -->
            </button>
          </div>
          <div class="modal-body">
            <div class="ltn__quick-view-modal-inner">
              <div class="modal-product-item">
                <div class="row">
                  <div class="col-lg-6 col-12">
                    <img src="../assets/img/service/pooltilework.jpg">
                  </div>
                  <div class="col-lg-6 col-12">
                    <div class="modal-product-info">
                      <h4>Pool Tile Work</h4>
                      <div class="modal-product-brief">
                        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                          galley of type and scrambled it to make a type specimen book. It has survived not only five
                          centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                          It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                          passages, and more recently with desktop publishing software like Aldus PageMaker including
                          versions of Lorem Ipsum.</p>

                        <a href="" data-bs-toggle="modal" data-bs-target="#requestqoute"
                          class="btn theme-btn-1 mt-3  btn-effect-1 text-uppercase">Request a quote</a>

                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pool Tile Work< Modal END -->

  <!-- Pool Tile Work< Modal -->
  <div class="ltn__modal-area ltn__quick-view-modal-area">
    <div class="modal fade" id="poolwatersupply" tabindex="-1">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              <!-- <i class="fas fa-times"></i> -->
            </button>
          </div>
          <div class="modal-body">
            <div class="ltn__quick-view-modal-inner">
              <div class="modal-product-item">
                <div class="row">
                  <div class="col-lg-6 col-12">
                    <img src="../assets/img/service/poolwatersupply.jpg">
                  </div>
                  <div class="col-lg-6 col-12">
                    <div class="modal-product-info">
                      <h4>Pool Water Supply</h4>
                      <div class="modal-product-brief">
                        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                          galley of type and scrambled it to make a type specimen book. It has survived not only five
                          centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                          It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                          passages, and more recently with desktop publishing software like Aldus PageMaker including
                          versions of Lorem Ipsum.</p>

                        <a href="" data-bs-toggle="modal" data-bs-target="#requestqoute"
                          class="btn theme-btn-1 mt-3  btn-effect-1 text-uppercase">Request a quote</a>

                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pool Tile Work< Modal END -->

  <!-- Requst modal -->
  <div class="ltn__modal-area ltn__quick-view-modal-area">
    <div class="modal fade" id="requestqoute" tabindex="-1">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              <!-- <i class="fas fa-times"></i> -->
            </button>
          </div>
          <div class="modal-body">
            <div class="ltn__quick-view-modal-inner">
              <div class="modal-product-item">
                <div class="row">
                  <div class="col-lg-12 col-12">
                    <div class="modal-product-info">
                      <h4>Get A Quote</h4>
                      <form id="contact-form" action="#" method="post">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="input-item input-item-name ltn__custom-icon">
                              <input type="text" name="name" placeholder="Enter your name">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="input-item input-item-email ltn__custom-icon">
                              <input type="email" name="email" placeholder="Enter email address">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="input-item">
                              <select class="nice-select">
                                <option>Select Service Type</option>
                                <option>Property Management </option>
                                <option>Mortgage Service </option>
                                <option>Consulting Service</option>
                                <option>Home Buying</option>
                                <option>Home Selling</option>
                                <option>Escrow Services</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="input-item input-item-phone ltn__custom-icon">
                              <input type="text" name="phone" placeholder="Enter phone number">
                            </div>
                          </div>
                        </div>
                        <div class="input-item input-item-textarea ltn__custom-icon">
                          <textarea name="message" placeholder="Enter message"></textarea>
                        </div>
                        <p><label class="input-info-save mb-0"><input type="checkbox" name="agree"> Save my name,
                            email, and website in this browser for the next time I comment.</label></p>
                        <div class="btn-wrapper mt-0">
                          <button class="btn theme-btn-1 btn-effect-1 text-uppercase" type="submit">get a free
                            service</button>
                        </div>
                        <p class="form-messege mb-0 mt-20"></p>
                      </form>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  Request Modal End -->

  <!-- MODAL SERVICES END -->

