
  <!-- About Us -->
  <div class="anchor" id="abouts"></div>
  <div class="ltn__feature-area section-bg-1--- pt-115">
    <div class="container">
      <!-- ABOUT US AREA START -->
      <div class="ltn__about-us-area pt-150--- pb-90 mt--30">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="about-us-img-wrap about-img-left">
                <img src="../assets/img/about/about-main.png" alt="About Us Image" />
                <div class="about-us-img-info about-us-img-info-2 about-us-img-info-3">
                  <div class="ltn__video-img ltn__animation-pulse1">

                    <a class="ltn__video-icon-2 ltn__video-icon-2-border---" href="media/1.mp4"
                      data-rel="lightcase:myCollection">
                      <i class="fa fa-play"></i>
                    </a>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 align-self-center">
              <div class="about-us-info-wrap">
                <div class="section-title-area ltn__section-title-2--- mb-20">
                  <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">
                    About Us
                  </h6>
                  <h1 class="section-title">
                    UAE’s Best Swimming Pool Contractors<span>.</span>
                  </h1>
                  <p>
                    Hiring a professional pool service company protects one of your most valuable investments – YOUR
                    POOL! Keeping the equipment working properly and the water chemistry balanced allows you to enjoy
                    your pool.
                  </p>
                </div>
                <ul class="ltn__list-item-half clearfix">
                  <li>
                    <i class="flaticon-home-2"></i>
                    Certified Pool Operators
                  </li>
                  <li>
                    <i class="flaticon-mountain"></i>
                    Professional Team
                  </li>
                  <li>
                    <i class="flaticon-heart"></i>
                    Complete 24/7 Security
                  </li>
                  <li>
                    <i class="flaticon-secure"></i>
                    Pioneer in Pool Maintenance
                  </li>
                </ul>

                <a href="#" class="btn theme-btn-1 mt-3  btn-effect-1 text-uppercase">Request a quote</a>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ABOUT US AREA END -->
    </div>
  </div>
  <!-- About Us -->


  <!-- VIDEO AREA START -->
  <div class="ltn__video-popup-area ltn__video-popup-margin---">
    <div
      class="ltn__video-bg-img ltn__video-popup-height-600--- bg-overlay-black-30 bg-image bg-fixed ltn__animation-pulse1"
      data-bs-bg="../assets/img/bg/19.jpg">

      <div class="container ">
        <div class="row">
          <div class="col-md-2 col-sm-6 al col-6 ">
            <div class="ltn__counterup-item ">
              <h1><span class="counter">100</span><span class="counterUp-icon">+</span> </h1>
              <h6>Happy Clients</h6>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-6 align-self-center">
            <div class="ltn__counterup-item text-color-white---">

              <h1><span class="counter">24</span><span class="counterUp-letter">/7</span> </h1>
              <h6>Customer Support</h6>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 align-self-center text-center">

            <a class="ltn__video-icon-2 m-auto" href="https://youtu.be/Qop1pzwbin4?si=Fkb0P5aWdmwjJd6-"
              data-rel="lightcase:myCollection">
              <i class="fa fa-play"></i>
            </a>
          </div>

          <div class="col-md-2 col-sm-6 col-6 align-self-center">
            <div class="ltn__counterup-item text-color-white---">

              <h1><span class="counter">100</span><span class="counterUp-icon">+</span> </h1>
              <h6>Completed Projects</h6>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-6 align-self-center">
            <div class="ltn__counterup-item text-color-white---">

              <h1><span class="counter">4.9</span><span class="counterUp-icon">*</span> </h1>
              <h6>Google Ratings</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- COUNTER UP AREA END -->
  <!-- VIDEO AREA END -->
