
  <!-- CONTACT ADDRESS AREA START -->
  <div class="anchor" id="contacts"></div>
  <div class="ltn__contact-address-area mt-90 mb-90">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="ltn__contact-address-item ltn__contact-address-item-3 box-shadow">
            <div class="ltn__contact-address-icon">
              <img src="../assets/img/icons/10.png" alt="Icon Image">
            </div>

            <h3>Email Address</h3>
            <p><a href="mailto:info@awawts.com"> info&#64;awawts.com </a> <br>
              <a href="mailto:infoalwahatech@gmail.com"> infoalwahatech&#64;gmail.com </a>
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="ltn__contact-address-item ltn__contact-address-item-3 box-shadow">
            <div class="ltn__contact-address-icon">
              <img src="../assets/img/icons/11.png" alt="Icon Image">
            </div>
            <h3>Phone Number</h3>
            <p>
              <a href="tel:+971 (0)551230163 "> +971 (0)551230163 </a>
              <br>
              <a href="tel:0566005199">(0)566005199 </a>
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="ltn__contact-address-item ltn__contact-address-item-3 box-shadow">
            <div class="ltn__contact-address-icon">
              <img src="../assets/img/icons/12.png" alt="Icon Image">
            </div>
            <h3>Dubai Address</h3>
            <p> Office#306A, Al Moosawi Building, Mankhool Sharjah: Office#304, Building 1566, Muwailah, Sharjah</p>
          </div>
        </div>
      </div>
    </div>
  </div>
