
  <!-- FEATURE AREA START ( Feature - 6) -->
  <div class="anchor" id="services"></div>
  <div class="ltn__feature-area pt-80 pb-80">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title-area ltn__section-title-2--- text-center">
            <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Our Services</h6>
            <h1 class="section-title">What We Offer</h1>
          </div>
        </div>
      </div>
      <div class="row ">

        <div class="col-lg-4 col-sm-6 col-12">
          <div class="ltn__blog-img">
            <a href="#" tabindex="0"><img src="../assets/img/service/poolconstruction.jpg" alt="Pool Construction"></a>
          </div>

          <div class="ltn__feature-item ltn__feature-item-6">
            <div class="ltn__feature-info">
              <h4><a data-bs-toggle="modal" data-bs-target="#poolconstruction" href="#">Pool Construction</a></h4>
              <p>
                For its best Indoor and outdoor swimming pools and Container pools.
              </p>
              <div class="btn-wrapper animated">
                <a href="#" data-bs-toggle="modal" data-bs-target="#poolconstruction"
                  class="theme-btn-1 btn btn-effect-1 btn-sm" tabindex="0">View More </a>
              </div>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="col-lg-4 col-sm-6 col-12">
          <div class="ltn__blog-img">
            <a href="#" data-bs-toggle="modal" data-bs-target="#poolrenovation" tabindex="0"><img
                src="../assets/img/service/poolrenovation.jpg" alt="Pool Renovation"></a>
          </div>

          <div class="ltn__feature-item ltn__feature-item-6">
            <div class="ltn__feature-info">
              <h4><a href="#">Pool Renovation</a></h4>
              <p>
                Transform your existing pool into a modern pool with our professional  services
              </p>
              <div class="btn-wrapper animated">
                <a href="#" data-bs-toggle="modal" data-bs-target="#poolrenovation"
                  class="theme-btn-1 btn btn-effect-1 btn-sm" tabindex="0">View More </a>
              </div>
            </div>
          </div>
        </div>
        <!--  -->

        <div class="col-lg-4 col-sm-6 col-12">
          <div class="ltn__blog-img">
            <a href="#" tabindex="0"><img src="../assets/img/service/poolcleaning.jpg" alt="Pool Cleaning"></a>
          </div>

          <div class="ltn__feature-item ltn__feature-item-6">
            <div class="ltn__feature-info">
              <h4><a data-bs-toggle="modal" data-bs-target="#poolcleaning" href="#">Pool Cleaning</a></h4>
              <p>
                Make your pool crystal clean and enjoy endless relaxation and fun.
              </p>
              <div class="btn-wrapper animated">
                <a href="#" data-bs-toggle="modal" data-bs-target="#poolcleaning"
                  class="theme-btn-1 btn btn-effect-1 btn-sm" tabindex="0">View More </a>
              </div>
            </div>
          </div>
        </div>
        <!--  -->

        <div class="col-lg-4 col-sm-6 col-12">
          <div class="ltn__blog-img">
            <a href="#" tabindex="0"><img src="../assets/img/service/poolmaintenance.jpg" alt="Pool Maintenance"></a>
          </div>

          <div class="ltn__feature-item ltn__feature-item-6">
            <div class="ltn__feature-info">
              <h4><a data-bs-toggle="modal" data-bs-target="#poolmaintenance" href="#">Pool Maintenance</a></h4>
              <p>
                Keep your pool clean and in shape with our reliable pool maintenance services
              </p>
              <div class="btn-wrapper animated">
                <a href="#" data-bs-toggle="modal" data-bs-target="#poolmaintenance"
                  class="theme-btn-1 btn btn-effect-1 btn-sm" tabindex="0">View More </a>
              </div>
            </div>
          </div>
        </div>
        <!--  -->

        <div class="col-lg-4 col-sm-6 col-12">
          <div class="ltn__blog-img">
            <a href="#" tabindex="0"><img src="../assets/img/service/pooltilework.jpg" alt="Pool Tile Work"></a>
          </div>

          <div class="ltn__feature-item ltn__feature-item-6">
            <div class="ltn__feature-info">
              <h4><a data-bs-toggle="modal" data-bs-target="#pooltilework" href="#">Pool Tile Work</a></h4>
              <p>
                Elevate your pool’s appearance with expert tile installation,  adding style and strength...
              </p>
              <div class="btn-wrapper animated">
                <a href="#" data-bs-toggle="modal" data-bs-target="#pooltilework"
                  class="theme-btn-1 btn btn-effect-1 btn-sm" tabindex="0">View More </a>
              </div>
            </div>
          </div>
        </div>
        <!--  -->

        <div class="col-lg-4 col-sm-6 col-12">
          <div class="ltn__blog-img">
            <a href="#" tabindex="0"><img src="../assets/img/service/poolwatersupply.jpg" alt="Pool Water Supply"></a>
          </div>

          <div class="ltn__feature-item ltn__feature-item-6">
            <div class="ltn__feature-info">
              <h4><a data-bs-toggle="modal" data-bs-target="#poolwatersupply" href="#">Pool Water Supply</a></h4>
              <p>
                Transform your existing pool into a modern pool with our professional  services
              </p>
              <div class="btn-wrapper animated">
                <a href="#" data-bs-toggle="modal" data-bs-target="#poolwatersupply"
                  class="theme-btn-1 btn btn-effect-1 btn-sm" tabindex="0">View More </a>
              </div>
            </div>
          </div>
        </div>
        <!--  -->


        <!-- Add 5 Item (2 row ) -->


      </div>
    </div>
  </div>
  <!-- FEATURE AREA END -->