<p>blog works!</p>

  <!-- BLOG AREA START (blog-3) -->
  <div class="ltn__blog-area pt-90 pb-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title-area ltn__section-title-2--- text-center">
            <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">News & Blogs</h6>
            <h1 class="section-title">Leatest News Feeds</h1>
          </div>
        </div>
      </div>
      <div class="row  ltn__blog-slider-one-active slick-arrow-1 ltn__blog-item-3-normal">
        <!-- Blog Item -->
        <div class="col-lg-12">
          <div class="ltn__blog-item ltn__blog-item-3">
            <div class="ltn__blog-img">
              <img src="../assets/img/blog/1.jpg" alt="#">
            </div>
            <div class="ltn__blog-brief">
              <div class="ltn__blog-meta">
                <ul>
                  <li class="ltn__blog-author">
                    <i class="far fa-user"></i>by: Admin
                  </li>
                  <li class="ltn__blog-tags">
                    <i class="fas fa-tags"></i>Decorate
                  </li>
                </ul>
              </div>
              <h3 class="ltn__blog-title">Tips & Tricks to Swimming Pool Repair</h3>
              <div class="ltn__blog-meta-btn">
                <div class="ltn__blog-meta">
                  <ul>
                    <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>June 24, 2021</li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- Blog Item -->
        <div class="col-lg-12">
          <div class="ltn__blog-item ltn__blog-item-3">
            <div class="ltn__blog-img">
              <img src="../assets/img/blog/2.jpg" alt="#">
            </div>
            <div class="ltn__blog-brief">
              <div class="ltn__blog-meta">
                <ul>
                  <li class="ltn__blog-author">
                    <i class="far fa-user"></i>by: Admin
                  </li>
                  <li class="ltn__blog-tags">
                    <i class="fas fa-tags"></i>Decorate
                  </li>
                </ul>
              </div>
              <h3 class="ltn__blog-title">The Most Inspiring Interior Design Of 2023</h3>
              <div class="ltn__blog-meta-btn">
                <div class="ltn__blog-meta">
                  <ul>
                    <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>June 24, 2021</li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- Blog Item -->
        <div class="col-lg-12">
          <div class="ltn__blog-item ltn__blog-item-3">
            <div class="ltn__blog-img">
              <img src="../assets/img/blog/3.jpg" alt="#">
            </div>
            <div class="ltn__blog-brief">
              <div class="ltn__blog-meta">
                <ul>
                  <li class="ltn__blog-author">
                    <i class="far fa-user"></i>by: Admin
                  </li>
                  <li class="ltn__blog-tags">
                    <i class="fas fa-tags"></i>Decorate
                  </li>
                </ul>
              </div>
              <h3 class="ltn__blog-title">TA Safe Pool Needs Proper Water Chemistry </h3>
              <div class="ltn__blog-meta-btn">
                <div class="ltn__blog-meta">
                  <ul>
                    <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>June 24, 2021</li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- Blog Item -->
        <div class="col-lg-12">
          <div class="ltn__blog-item ltn__blog-item-3">
            <div class="ltn__blog-img">
              <img src="../assets/img/blog/4.jpg" alt="#">
            </div>
            <div class="ltn__blog-brief">
              <div class="ltn__blog-meta">
                <ul>
                  <li class="ltn__blog-author">
                    <i class="far fa-user"></i>by: Admin
                  </li>
                  <li class="ltn__blog-tags">
                    <i class="fas fa-tags"></i>Decorate
                  </li>
                </ul>
              </div>
              <h3 class="ltn__blog-title">Tips & Tricks to Swimming Pool Repair</h3>
              <div class="ltn__blog-meta-btn">
                <div class="ltn__blog-meta">
                  <ul>
                    <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>June 24, 2021</li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- Blog Item -->
        <div class="col-lg-12">
          <div class="ltn__blog-item ltn__blog-item-3">
            <div class="ltn__blog-img">
              <img src="../assets/img/blog/5.jpg" alt="#">
            </div>
            <div class="ltn__blog-brief">
              <div class="ltn__blog-meta">
                <ul>
                  <li class="ltn__blog-author">
                    <i class="far fa-user"></i>by: Admin
                  </li>
                  <li class="ltn__blog-tags">
                    <i class="fas fa-tags"></i>Decorate
                  </li>
                </ul>
              </div>
              <h3 class="ltn__blog-title">Tips & Tricks to Swimming Pool Repair</h3>
              <div class="ltn__blog-meta-btn">
                <div class="ltn__blog-meta">
                  <ul>
                    <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>June 24, 2021</li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!--  -->

        

      </div>
    </div>
  </div>
  <!-- BLOG AREA END -->